---
---
@import "minimal-light";

/* ===== Avatar size override ===== */
.image.avatar {
  width: 180px;
  height: 180px;
  margin-bottom: 1rem;
}

.image.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
